# Node modules
node_modules/
.env
.env.example
# Compilation output
/dist
/contracts/node_modules
/contracts/deployments
/demo/node_modules
/circuits/node_modules
/contracts/artifacts
/contracts/cache
# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/prover/target