# Node modules
node_modules/
.env
.env.example
# Compilation output
/build
/circuits/build
/circuits/logs
/circuits/test
/contracts/deployment.json
/contracts/deployment-complete.json
/dist
/contracts/node_modules
/contracts/deployments
/demo/node_modules
/circuits/node_modules
/contracts/artifacts
/contracts/cache

/circuits/proof.json
/circuits/public.json
/circuits/test_input.json
/contracts/witness.wtns 

*.ptau
*.zkey
*.r1cs
# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/prover/target